body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

canvas {
  max-width: 500px; /* Ubah ukuran maksimum sesuai kebutuhan */
  max-height: 300px; /* Tambahkan tinggi maksimum */
  width: 100%; /* Agar responsif */
  height: auto; /* Mempertahankan rasio aspek */
  margin: auto;
  display: block; /* Pusatkan canvas */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
